@media only screen and (max-width: 767px) {
    
    .plant-distance {
        display: flex;
        justify-content: space-around !important;
}
    col.nav-bar-list.col-md-6 {
        z-index: 999;
    }
    body {
        background-image: url("../space-tourism-website-main/starter-code/assets/home/background-home-mobile.jpg");
    }
    .blur{
        display: none;
    }
    .nav-bar {
        display: flex;
        align-items: start;
    }
    .nav-bar-list.col-md-6 {
        -webkit-backdrop-filter: blur(50px);
        backdrop-filter: blur(50px);
        position: fixed !important;
        right: -25%;
        width: 255px;
        height: 100vh;
        top: 0;
        z-index: 3;
    }
    .nav-bar ul {
        display: block;
    }
    .nav-bar ul li {
        margin-top: 50px;
    }
    .line{
        display: none;
    }
    .nav-bar ul li span.active{
        opacity: 1;
        width: 55%;
      }
      .nav-bar ul li span{
        width: 55%;
        top: 180%;
      }
      .icons-parent{
        position: fixed;
        right: 13px;
        top: 49px;
        z-index: 1000;
    }
    .nav-list{
        margin-top: 4rem;
    }
    .icons-parent {
        display: block;
      }
      .home-page-text-container div p  {
        text-align: center;
        font-size: 20px;
    }
    .home-page-text-container div h1 {
        font-size: 105px;
        text-transform: uppercase;
        font-family: 'Bellefair', serif;
        text-align: center;
    }
    .home-page-text-container div p {
        text-align: center;
        font-size: 15px;
        letter-spacing: 1px;
    }
    div.home-page-parent {
        margin-top: 55px;
      }
      .home-page-parent .row .col-md-6 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .button-container button {
        width: 150px;
        height: 150px;
        font-size: 1.3rem;
    }
    .home-page-text-container div p.intro {
        font-size: 20px;
    }
    .button-container {
        align-items: start;
        justify-content: center;

    }
    .col-lg-6{
        display: flex;
        justify-content: center;
    }
    canvas{
        display: block;
        width: 300px !important;
        height: 300px !important;
      }
      .pick-your-dist.col-12 {
        font-size: 16px;
        text-align: center;
    }
    .plants-list {
        margin-left: -13px;
    }
    .plant-name h5 {
           font-family: Bellefair,serif;
            font-size: 80px;
            margin-left: 11px;
}
    }
    .plant-name p {
        width: 97vw;
        font-size: 15px;
        line-height: 2.1rem;
        margin-left: 14px;
    }
    body.destination{
        background-image: url("../space-tourism-website-main/starter-code/assets/destination/background-destination-mobile.jpg");
      }
      body.crew{
        background-image: url("../space-tourism-website-main/starter-code/assets/crew/background-crew-mobile.jpg");
      }
      body.tech{
        background-image: url("../space-tourism-website-main/starter-code/assets/technology/background-technology-mobile.jpg");
      }
      .plant-name h5.crew-member {
        font-family: 'Bellefair', serif;
        font-size: 40px;
        margin-left: 11px;
    }
  


